#start, #number_of_objects{
    font-size: 18px;
}

.heading {
    width: 100%;
    margin: 0px;
    font-size: 28px;
}

body{
   background-color: mediumslateblue;
}

.footer{
    bottom: 0;
    font-size: 20px;
    width: 100%;
    position: fixed;
    color: black;   
    background-color: yellow;
    line-height: 2;
    text-align: center; 
}

canvas{ 
    border: 2px;
    border-radius: 4px; 
    margin-top: 120px;
    box-shadow: 20px 40px 60px aqua;
}
    
#note {
    font-size : 15px !important;
    width: auto;
}